
.main-container{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-image: url(assets/background-img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 130vh;
    
  
}
.main-container h1{
    
    color: white;
    padding-top: 50px;
    margin-bottom: 30px;
}
@media(max-width:1100px){
    .main-container h1{
        font-size: 30px;
        padding-top: 20px;
    margin-bottom: 10px;
    }
}
